<!DOCTYPE html>
<html>
<head>
    <title>EDA Demo - Web Server Index page</title>
</head>
<body>
    <h1>EDA Demo - Webserver is up!</h1>
    <p>Test the EDA source plugin - ansible.eda.url_check</p>
    <p>Test the EDA source plugin - ansible.eda.webhook</p>
</body>
</html>

